// Vuetify Library Variables
@import './vuetify/variables';

// Custom Vuetify Style Overrides
@import 'vuetify/overrides';

$border-radius-root: 12px;

._78cfbf41._38544cae {
  bottom: 64px;
}

.d6494776 {
  background-color: #BD632F !important;
}
